#disp{
	padding-bottom: 10px;
	color: black;
}
table{
	border-radius: 10px;
}
.border{
    -moz-box-shadow: 5px 5px 2px #949F9F;
    -webkit-box-shadow: 5px 5px 2px #949F9F ;
    box-shadow: 5px 5px 2px #949F9F;
    border-radius: 10px;
    background-color: #76827C ;
    font-family: cursive;
}
.padding_top{
	padding-top: 100px;
}
input[type="checkbox"]:checked + label{
	text-decoration: line-through;
	color: rgba(0,0,0,.3);
}